.vaga {
  border: 1px solid rgb(0, 0, 0);
  background-color: rgb(25, 0, 255);
  color: rgb(255, 255, 255);
  padding: 16px;
  transition: all ease .3s;
  border-radius: 8px;
}

.vagaTitulo {
  font-weight: bold;
  margin-bottom: 16px;
}

.vagaLink {
  border-color: var(--cor-secundaria);
    background-color: rgb(255, 39, 39);
    color: var(--cor-secundaria);
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    margin-top: 16px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 8px;
    text-align: center;

    @media (max-width: 768px) {
      display: block;
    }
}

.vaga:hover {
  background-color: black;
  color: var(--cor-secundaria);
}

.vaga:hover a {
  border-color: var(--cor-principal);
  background-color: var(--cor-secundaria);
  color: red;
}
